<% add_stylesheet('spanner.css') %>

<div class="main-pane"></div>
<footer>
  <ul class="mod-list"></ul>
  <embed class="logo" src="/images/spanner.svg" type="image/svg+xml"/>
  <span ner class="spanner">spanner</span>
  <span class="username"></span>
</footer>
